svg#tools-routes {
    &:hover {
        .tools {
            .tool-1 {
                
                animation-name: move-left;
                animation-duration: 0.8s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
            }

            .tool-2 {
                
                animation-name: move-right;
                animation-duration: 0.8s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
            }
        }
    }

}

@keyframes move-left {
    to {
        transform: translateX(-25%);
    }
}

@keyframes move-right {
    to {
        transform: translateX(25%);
    }
}