svg#science-routes {
    &:hover {
        .science-lamb {

            animation-name: move-up-and-down;
            animation-duration: 0.8s;
            animation-direction: alternate;
            animation-iteration-count: infinite;

        }
    }

}

@keyframes move-up-and-down {
    0% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(-5rem);
    }

    100% {
        transform: translateY(0);
    }
}
