svg#cms {
    &:hover {
        .published-posts {
            animation-name: restore-position;
            animation-duration: 0.8s;
            animation-fill-mode: forwards;
        }

        .drafts-posts {
            animation-name: make-visible;
            animation-duration: 0.8s;
            animation-delay: 0.5s;
            animation-fill-mode: forwards;
        }
    }

    .published-posts {
        transform: translateX(-25%);
    }
    
    .drafts-posts {
        opacity: 0;
    }


}

@keyframes restore-position {
    to {
       transform: translateX(0%);
    }
}
