svg#crm {
    &:hover {
        .client-love {
            animation-name: client-love;
            animation-duration: 0.8s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }

        .success-bar {
            animation-name: make-visible;
            animation-duration: 0.8s;
            animation-delay: 0.8s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
        
        .success-bar-3 {
            animation-name: make-visible;
            animation-duration: 0.8s;
            animation-delay: 0.9s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }

        .success-bar-2 {
            @extend .success-bar-3;
            animation-delay: 1s;
        }

        .success-bar-1 {
            @extend .success-bar-3;
            animation-delay: 1.2s;
        }

        .success-arrow {
            @extend .success-bar-3;
            animation-delay: 1.3s;
        }
    }

    .client-love,
    .success-bar-1,
    .success-bar-2,
    .success-bar-3,
    .success-arrow,
    .success-bar {
        opacity: 0;
    }
}

@keyframes client-love {
    from {
        opacity: 1;
        
    }

    30% {
        transform: translateY(2rem);
    }

    60% {
        transform: translateY(-2rem);
    }

    to {
        opacity: 1;
        transform: translateY(0rem);
    }
}