@charset "utf-8";

// Utils
@import 'utils/_colors';
@import "utils/_sizing";
@import "utils/_animation";

// animations
@import "animations/_have_new_business";

// animation - services
@import "animations/services/_ecommrce";
@import "animations/services/_crm";
@import "animations/services/_cms";
@import "animations/services/_website";
@import "animations/services/_mobile_application";
@import "animations/services/_markting";

// animation - educations routes
@import "animations/educations-routes/_tools_routes";
@import "animations/educations-routes/_science_routes";
@import "animations/educations-routes/_useless_routes";

// Bulma
@import "../../node_modules/bulma/bulma";

@import "utils/_spacing";

// Body Styles
html {
    height: 100% !important;
}

body {
    scroll-behavior: smooth;
}

.navbar {
    &.is-transparent {
        background-color: transparent;
        background-image: none;
    }
}

// Logo
.navbar {
    .logo {
        max-height: 15rem;
        width: 12rem;
    }
}

.divider {
    width: 10rem;
    height: 3px;
    border-radius: 2px;
    box-shadow: #ccc 5px 5px 10px;
    background-image: linear-gradient(to left, #3A81DE 0, #3DB6DE);
    margin: 2rem auto;
}

// Intro Section 
.intro-section {
    background: url("../images/background-cover-v5.svg");
    background-repeat: no-repeat;
    background-position: top right;
}

.read-more-btn {
    transition: background 2s ease-in-out;
    &:hover {
        background-color: $primary !important;
        background-image: linear-gradient(90deg, #3A81DE, #3DB6DE) !important;
    }
}

// Our Services
#products-services {
    margin-top: -15rem;
}

.card {
    border-radius: 6px;
}

// Education
#education {
    background: url("../images/background-2-cover-v3.svg");
    background-repeat: no-repeat;
    background-size: cover;
}